.test {
  border: 1px solid grey
}
.line{
  border-top: 1px solid grey;
}

.body {
  background: #F7F7F7;
}
.btn{
  width: 100% !important;
  margin: .2rem auto !important;
}

.card-body {
  padding: .5rem !important;
}
